* {
    padding: 0;
    margin: 0;
}

.hero-section {
    background: url("path_to_your_background_image.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
